@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  background-color: #595959;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100%;
}

img{
  width: 100%;
}

a:link {
  color: white;
  border-bottom: none;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  border-bottom: .none;
  text-decoration: none;
}
a:active {
  color: white;
  border-bottom: none;
  text-decoration: none;
}

header{
  background-image: url(/img/quadro.png);
  background-size: cover;
  width: 1050px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 16px 0px black;
  display: block;
}

.back_img{
  object-fit: cover;
  width: 100%;
  height: 580px;
}

.logo{
  width: 100px;
}

.img_logo{
    width: 60px;
    margin-top: 20px;
    margin-left: 50px;
}

.nav{
  display: block;
  padding-top: 20px;
  width: 100%;
}

.r_menu{
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 40px;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.contacts{
  margin-right: 20px;
}

.portfolio{
  margin-right: 20px;
}

.citate{
      display: inline-block;
      text-align: center;
      padding-top: 250px;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 1em black;
      margin: auto 140px;
      width: 770px;
}
