@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  background-color: #595959;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

img{
  width: 100%;
}

a:link {
  color: white;
  border-bottom: none;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  border-bottom: .none;
  text-decoration: none;
}
a:active {
  color: white;
  border-bottom: none;
  text-decoration: none;
}

.header{
  background-color: #949494;
  width: 1050px;
  padding: 0px 0px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 16px 0px black;
  display: block;
}

.back_img{
  object-fit: cover;
  width: 1050px;
  height: 400px;
}

.logo{
  width: 100px;
}

.img_logo{
    width: 60px;
    margin-top: 20px;
    margin-left: 50px;
}

.nav{
  display: block;
  position: absolute;
  margin: 10px;
  width: 1000px;
}

.r_menu{
  display: block;
  text-align: right;
  float: right;
  margin-top: 40px;
}

.contacts{
  margin-right: 20px;
}

.portfolio{
  margin-right: 20px;
}
